# Environments
.venv/
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
.eggs/
.cache/
build/
*.egg-info/
*.egg
.vscode/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Local environment variables
.env
